<div class="container bg-gray-100 border-bottom-2 border-gray-200">
  <div class="row flex flex-wrap">
    <div class="col-4">
      <h1 class="title custom-primary-text-color">Super League</h1>
    </div>
    <div class="col-8 flex align-items-center justify-content-end">
      <p-button
        [raised]="true"
        severity="info"
        label="Simulate Matchweek"
        class="m-1"
        (click)="simulationWeek()"
        [disabled]="isSeasonOver"
      ></p-button>
      <p-button
        [raised]="true"
        severity="warning"
        label="Simulate Season"
        class="m-1"
        (click)="simulationSeason()"
        [disabled]="isSeasonOver"
      ></p-button>
      <p-button
        [raised]="true"
        severity="success"
        label="Create New Season"
        class="m-1"
        (click)="createNewSeason()"
      ></p-button>
    </div>
  </div>
  <div>
    <p-progressBar [value]="percentage" color="#37003c">
      <ng-template pTemplate="content" let-value>
        <span>{{ percentage }}/100</span>
      </ng-template>
    </p-progressBar>
  </div>
</div>
